h2, h1, h3, p {
    font-family: 'General Sans', sans-serif;
    text-align: center;
    color: white;
    
}

body {
  background-color: #1E1E1E;
 height: 100%;
    margin: 0;
    padding: 0;
}

.TheDiv {
display: flex;
justify-content: center; /* Center horizontally */
align-items: center;    /* Center vertically */
width: 100%;           /* Full width of viewport */
height: 100%;          /* Full height of viewport */
box-sizing: border-box; /* Ensures padding doesn't affect width/height */
}
